.containersLog
{
    display: flex;
    /* padding: 3% 3%;
    border: 2px solid blueviolet; */
    justify-content: center;
    align-items: center;
}
.outer
{
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.forms{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.3);
    padding: 25px 10px;
    border-radius: 10px;
}
.forms h1
{
    font-size: 25px;
}

.forms form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    width: 80%;
    padding: 3%;
}
form *
{
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
}
.forms:hover
{
    cursor: pointer;

}
form label
{
    display: flex;
    flex-direction: column;
    margin: 2%;
}
form label input
{
    width: 100%;
    padding: 5px 10px;
}
form label button
{
    margin: 0px 0px;
    padding: 5px 10px;
}
.images
{
width: 50%;
/* min-height: 100%; */
/* border: 2px solid green; */
}
.images img
{
    height: 100%;
    width: 100%;
}
@media (max-width: 770px) {
    .images
    {
        display: none;
    }
    .outer
    {
        width: 100%;
    }
    .forms
    {
        width: 40%;
    }
    .forms form
    {
        width: 90%;
    }
}