
.testimonial-form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  margin: 25px 0px;
  /* height: 100%; */
  /* overflow-y: auto; Add this to enable vertical scrolling if needed */
}
  .add-testimonials
  {
    color: black;
  }
  .admin-right-panel
  {
    background-color: rgb(217, 209, 209);
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  button {
    background-color: #007bff;
    color: #0d0d0d;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  .rate:hover
  {
    background-color: #005dc0;
    color: white;
    font-weight: bold;
  }
  .heads{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
.test-btn
  {
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 5px;
  }
  .test-btn:hover{
    /* font-weight: bold; */
    background-color: rgb(7, 180, 180);
    color: white;
  }
