.tables {
    max-width: 80%;
    margin: 2rem auto;
    overflow-x: auto; /* Add this to enable horizontal scrolling */
    padding: 15px 25px;
    background: rgb(250, 250, 250); /* Antique White */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd; /* Very light Gray */
    margin-top: 1rem;
  }
  
  .trow {
    background-color: #f0f0f0; /* Light Gray for header row */
  }

/* Update this in your existing CSS */
.th {
    padding: 1rem;
    text-align: center;
    border: 1px solid #dddddd; /* Very light Gray */
    margin-bottom: 10px; /* Adjust as needed for margin */
  }
  
  .tdata {
    padding: 1rem;
    text-align: center;
    border: 1px solid #dddddd; /* Very light Gray */
  }
  
  /* Alternate row background color for better readability */
  tbody tr:nth-child(even) {
    background-color: #f5f5f5; /* Lighter Gray for even rows */
  }
  th
  {
    padding: 10px;
  }
  /* Hover effect or selected row color */
  tbody tr:hover {
    background-color: #e0e0e0; /* Slightly darker than the main background */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 770px) {
    .tables {
      max-width: 100%;
    }
  }
  