*{
    margin: 0;
    padding: 0;
    font-size: medium;
}
.nav{
    /* background-color: rgb(21, 7, 49); */
    background-color: #120225;
    /* background-color: #0b0084; */
    /* border-bottom: 2px solid gray; */
    padding: 0% 5%;
    display: flex;
    height: 10ch;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 50px 0px rgb(234, 209, 177);
    color: aliceblue;
}
.logos
{
    display: flex;
    justify-content: center;
    height: 125px;
    /* border: 2px solid red; */
    overflow-y: hidden;
}
#mainlogo
{
    width: 220px;
    translate: 0px -52px;
    /* border: 2px solid yellow; */
    
}

/* @media (max-width: 900px) {

    .mainlogo
    {
        width: 220px;
        translate: 0px 45px;
        border: 2px solid yellow;
    }

} */
@media (max-width: 700px) {
    .nav
    {
        display: flex;
        flex-direction: column;
        height: max-content;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
    .right
    {
        display: flex;
        flex-direction: column;
    }
    #btn
    {
        width: 175px;

    }
    .right *
    {
        margin: 3px 0px;
    }
  }
.right
{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
}

#btn
{
    padding: 12px 16px;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(232, 214, 192);
    border-radius: 25px;
    margin: 0px 15px;
    transition: background-color 0.5s ease-out;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#btn:hover
{
    border: 2px solid rgb(170, 149, 122);
    background-color: white;
    color: black;
}
