.Test
{
    /* border: 2px solid green; */
    /* background: linear-gradient(to top, #f8f9fa, #7de2ef); */
    background: linear-gradient(to bottom, #4840a4, #000000);
    width: 100%;
    color: white;
    /* border: 2px solid green; */
}
.customer
{
    display: flex;
    justify-content: space-between;
    margin: 0px 3%;
    padding: 5px 10px;
    border-bottom: 1px dashed orangered;
    /* transition: background-color 1s ease-out; */
    background-size: 100% 200%;
    background-image: linear-gradient(to top, rgba(7, 14, 16, 0.588) 50%,transparent 50%);
    
        /* background: linear-gradient(to top, #f8f9fa, #7de2ef); */
    /* background-image: linear-gradient(to top, rgba(239, 170, 65, 0.714) 50%,transparent 50%); */
    -webkit-transition: background-position 0.5s;
    -moz-transition: background-position 0.5s;
    transition: background-position 0.5s;
}
#h1
{
    font-size: 42px;
    font-weight: bold;
}
@media (max-width: 850px) {
    #h1
    {
        font-size: 30px;
    }
}
#video
{
    display: none;
    background-color: blueviolet;
    height: 60vh;
    width: 40vw;
}
.review
{

}
/* Initial styles */
.customer:hover
{
    /* background-color: orangered; */
    background-position: 0 -100%;
}
#vids-background
{
    transition: display 1.5s ease;
    display: none;
    border-radius: 20px;
    object-fit: cover;
    /* aspect-ratio: 16/9; */
    width: 30%;
    height: 40%;
    position: fixed;
    top: 20%;
    right: 20%;
}
@media (max-width: 800px) {
    #vids-background{
        display: block;
    }
}
@media (max-width: 600px) {
    .id div{
        font-size: 15px;
    }
    #h1
    {
        font-size: 25px;
    }
}
@media (max-width: 450px) {
    
    .customer
    {
        flex-direction: column;
        padding: 15px 0px;
    }
}