@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* For Dot Cursor */
.cursor-dot
{
height: 5px;
width: 5px;
background-color: red;
}
.cursor-border
{
  width: 30px;
  height: 30px;
  border: 2px solid white;
}
.cursor-dot,
.cursor-border
{
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid red;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}